[Desktop Entry]
Type=Application
Name=CANcept
Comment=CANcept
Icon=CANcept
Exec=CANcept
Terminal=false
Categories=Development;Engineering;
Keywords=CAN;Bus;DBC;Automotive;Simulation;Monitoring;Logging;
StartupNotify=true
